body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background:#1c1c1c ;
  }

  .header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #e74c3c;
    color: white;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .cart-container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
  }

  td img {
    width: 80px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }

  .remove-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
  }

  .remove-btn:hover {
    background: #c0392b;
  }

  .total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
  }

  .checkout-btn {
    background: #b5321b;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    float: right;
    transition: 0.25s;
  }

  .checkout-btn:hover {
    background: #5d2020;
  }