
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #f0b133;
  --text-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: var(--secondary-color);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background:#1c1c1c ;
  }


  .cart-container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
  }

  td img {
    width: 80px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }

  .remove-btn {
    background: #f0b133;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
  }

  .remove-btn:hover {
    background: #f0b133;
  }

  .total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
  }

  .checkout-btn {
    background: #f0b133;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    float: right;
    transition: 0.25s;
  }

  .checkout-btn:hover {
    background: #5d2020;
  }

  

.logout-icon img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.3s;
}

.logout-icon img:hover {
  transform: scale(1.15);
  filter: brightness(0) saturate(100%) 
  invert(63%) sepia(94%) saturate(480%) 
  hue-rotate(359deg) brightness(101%) contrast(104%);

}
